USE [master]
GO
/****** Object:  Database [Donation_Management_System]    Script Date: 6/6/2026 6:35:02 am ******/
CREATE DATABASE [Donation_Management_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Donation_Management_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Donation_Management_System.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Donation_Management_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Donation_Management_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Donation_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Donation_Management_System]
GO
/****** Object:  Table [dbo].[CAMPAIGNS]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPAIGNS](
	[CampaignId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[StartdDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Venue] [varchar](255) NOT NULL,
	[Status] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CAMPAIGNS] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONATIONS]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONATIONS](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DonationStatus] [varchar](255) NOT NULL,
	[DonationDate] [date] NOT NULL,
	[PayMethod] [varchar](100) NOT NULL,
	[CampaignId] [int] NOT NULL,
	[SectorId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_DONATIONS] PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[Comment] [text] NOT NULL,
 CONSTRAINT [PK_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTORS]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTORS](
	[SectorId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[SectorStatus] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SECTORS] PRIMARY KEY CLUSTERED 
(
	[SectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USSER]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USSER](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[UserStatus] [bit] NOT NULL,
	[SecurityAns] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USSER] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLCAMAS]    Script Date: 6/6/2026 6:35:02 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLCAMAS](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CampaignId] [int] NOT NULL,
	[AssignmentDate] [date] NOT NULL,
 CONSTRAINT [PK_VOLCAMAS] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CAMPAIGNS] ON 

INSERT [dbo].[CAMPAIGNS] ([CampaignId], [Name], [Description], [StartdDate], [EndDate], [Venue], [Status]) VALUES (1, N'Ramadan Zakat Drive', N'Collecting Zakat for the needy during Ramadan', CAST(N'2025-04-01' AS Date), CAST(N'2025-04-30' AS Date), N'Community Center', N'Active')
INSERT [dbo].[CAMPAIGNS] ([CampaignId], [Name], [Description], [StartdDate], [EndDate], [Venue], [Status]) VALUES (2, N'General Fundraiser', N'Support various charitable causes', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), N'Head Office', N'Active')
INSERT [dbo].[CAMPAIGNS] ([CampaignId], [Name], [Description], [StartdDate], [EndDate], [Venue], [Status]) VALUES (3, N'Health Camp', N'Free health checkup for rural people', CAST(N'2025-06-01' AS Date), CAST(N'2025-06-30' AS Date), N'Rangpur Clinic', N'Active')
SET IDENTITY_INSERT [dbo].[CAMPAIGNS] OFF
GO
SET IDENTITY_INSERT [dbo].[DONATIONS] ON 

INSERT [dbo].[DONATIONS] ([DonationId], [Amount], [DonationStatus], [DonationDate], [PayMethod], [CampaignId], [SectorId], [UserId]) VALUES (5, CAST(2000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2025-06-27' AS Date), N'Bkash', 1, 1, 3)
INSERT [dbo].[DONATIONS] ([DonationId], [Amount], [DonationStatus], [DonationDate], [PayMethod], [CampaignId], [SectorId], [UserId]) VALUES (6, CAST(5000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2025-06-27' AS Date), N'Nagad', 1, 1, 3)
INSERT [dbo].[DONATIONS] ([DonationId], [Amount], [DonationStatus], [DonationDate], [PayMethod], [CampaignId], [SectorId], [UserId]) VALUES (7, CAST(3500.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-06-27' AS Date), N'Cash', 2, 2, 4)
SET IDENTITY_INSERT [dbo].[DONATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[FEEDBACK] ON 

INSERT [dbo].[FEEDBACK] ([FeedbackId], [SubmissionDate], [UserId], [Comment]) VALUES (1, CAST(N'2025-06-27T21:43:18.403' AS DateTime), 1, N'Glad to contribute my Zakat through this platform.')
INSERT [dbo].[FEEDBACK] ([FeedbackId], [SubmissionDate], [UserId], [Comment]) VALUES (2, CAST(N'2025-06-27T21:43:18.403' AS DateTime), 2, N'Hope to see more educational support campaigns.')
SET IDENTITY_INSERT [dbo].[FEEDBACK] OFF
GO
SET IDENTITY_INSERT [dbo].[SECTORS] ON 

INSERT [dbo].[SECTORS] ([SectorId], [Title], [Description], [SectorStatus]) VALUES (1, N'Zakat', N'Obligatory almsgiving in Islam', N'Active')
INSERT [dbo].[SECTORS] ([SectorId], [Title], [Description], [SectorStatus]) VALUES (2, N'Education', N'Educational programs and scholarships', N'Active')
INSERT [dbo].[SECTORS] ([SectorId], [Title], [Description], [SectorStatus]) VALUES (3, N'Health', N'Healthcare support and medical aid', N'Active')
SET IDENTITY_INSERT [dbo].[SECTORS] OFF
GO
SET IDENTITY_INSERT [dbo].[USSER] ON 

INSERT [dbo].[USSER] ([UserId], [Name], [Gender], [DateOfBirth], [Email], [PhoneNo], [Address], [password], [UserStatus], [SecurityAns], [Role], [FullName]) VALUES (1, N'', N'', CAST(N'2025-06-01' AS Date), N'', N'', N'', N'', 1, N'DefaultAnswer', N'User', N'')
INSERT [dbo].[USSER] ([UserId], [Name], [Gender], [DateOfBirth], [Email], [PhoneNo], [Address], [password], [UserStatus], [SecurityAns], [Role], [FullName]) VALUES (2, N'sa', N'Male ', CAST(N'2025-06-01' AS Date), N'a @gmail.com', N'11111111111', N'a', N'@Sadiya24', 1, N'DefaultAnswer', N'User', N'sadia')
INSERT [dbo].[USSER] ([UserId], [Name], [Gender], [DateOfBirth], [Email], [PhoneNo], [Address], [password], [UserStatus], [SecurityAns], [Role], [FullName]) VALUES (3, N'Sadia', N'Female ', CAST(N'2025-06-01' AS Date), N' Sadia@gmail.com', N'11111111111', N'abcd', N'@Sadiya24', 1, N'DefaultAnswer', N'User', N'Sadia')
SET IDENTITY_INSERT [dbo].[USSER] OFF
GO
SET IDENTITY_INSERT [dbo].[VOLCAMAS] ON 

INSERT [dbo].[VOLCAMAS] ([AssignmentId], [UserId], [CampaignId], [AssignmentDate]) VALUES (1, 3, 1, CAST(N'2025-06-28' AS Date))
INSERT [dbo].[VOLCAMAS] ([AssignmentId], [UserId], [CampaignId], [AssignmentDate]) VALUES (2, 3, 1, CAST(N'2025-06-28' AS Date))
INSERT [dbo].[VOLCAMAS] ([AssignmentId], [UserId], [CampaignId], [AssignmentDate]) VALUES (3, 3, 5, CAST(N'2025-06-28' AS Date))
SET IDENTITY_INSERT [dbo].[VOLCAMAS] OFF
GO
ALTER TABLE [dbo].[DONATIONS]  WITH CHECK ADD  CONSTRAINT [FK_DONATIONS_USSER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USSER] ([UserId])
GO
ALTER TABLE [dbo].[DONATIONS] CHECK CONSTRAINT [FK_DONATIONS_USSER]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_USSER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USSER] ([UserId])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_USSER]
GO
ALTER TABLE [dbo].[VOLCAMAS]  WITH CHECK ADD  CONSTRAINT [FK_VOLCAMAS_USSER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USSER] ([UserId])
GO
ALTER TABLE [dbo].[VOLCAMAS] CHECK CONSTRAINT [FK_VOLCAMAS_USSER]
GO
USE [master]
GO
